<%= render 'components/navbar'%>
<%= render 'components/searchbar' %>
<div id="pokemons">
  <% @pokemons.each do |pokemon| %>
    <div class='pokemons-container <%= pokemon.types[0] %>'>
      <div>
        <p>No.<%= pokemon.numero_pokedex %></p>
        <h3><%= link_to pokemon.name.capitalize, pokemon_path(pokemon), :class => 'link' %></h3>
        <% pokemon.types.each do |t| %>
          <span
            class='<%= t %>'
            style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))"
            >
            <%= t %>
          </span>
        <% end %>
      </div>
      <img src='<%= pokemon.url %>', class='img-pokemon'>
    </div>
  <% end %>
</div>
