<div class='full-screen <%= @pokemon.types[0] %>'>
  <div class='container-pokemon-show'>
    <h1><%= @pokemon.name.capitalize %></h1>
    <p>Height: <%= @pokemon.height %>0 cm</p>
    <p>Weight: <%= @pokemon.weight.to_f / 10 %> kg</p>
    <% @pokemon.types.each do |t| %>
      <span
        class='<%= t %>'
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))"
        >
        <%= t %>
      </span>
    <% end %>
    <% shiny = true %>
    <img src='<%= shiny ? @pokemon.url : @pokemon.url_shiny %>', style='width: 300px; padding: 5vh;', id='img'>
    <button id="switch">Shiny</button>
  </div>
  <% if @pokemon.dresser != nil %>
    <div class='container-dresser-show'>
      <%= link_to dresser_path(@pokemon.dresser), style: 'text-decoration: none;' do %>
        <h1 class='link'>Trainer : <%= @pokemon.dresser.name.capitalize %></h1>
        <img src='<%= @pokemon.dresser.url %>', style='height: 500px; padding: 5vh;', id='img'>
      <% end %>
    </div>
  <% end %>
</div>
<script>
  document.getElementById("switch").addEventListener('click', () => {
    if (document.getElementById("img").src === '<%= shiny ? @pokemon.url : @pokemon.url_shiny %>') {
      document.getElementById("img").src = '<%= !shiny ? @pokemon.url : @pokemon.url_shiny %>'
    } else {
      document.getElementById("img").src = '<%= shiny ? @pokemon.url : @pokemon.url_shiny %>'
    }
  })
</script>
