<div class='full-screen <%= @pokemon.types[0].split('"')[7] %>'>
  <div style='padding: 40px;'>
    <h1><%= @pokemon.name.capitalize %></h1>
  </div>
  <div style='width: 100vw; display: flex; flex-direction: column; align-items: center; gap: 10px;'>
    <p>Height: <%= @pokemon.height %>0 cm</p>
    <p>Weight: <%= @pokemon.weight.to_f / 10 %> kg</p>
    <% @pokemon.types.each do |t| %>
      <span
        class='<%= t.split(',')[1].split('"')[5] %>'
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))"
        >
        <%= t.split(',')[1].split('"')[5] %>
      </span>
    <% end %>
  <% shiny = true %>
  <button id="switch">Shiny</button>
  <img src='<%= @pokemon.url %>', style='width: 300px;', id='img'>
  </div>
  <script>
  document.getElementById("switch").addEventListener('click', (shiny) => {
    document.getElementById("img").src = '<%= !shiny ? @pokemon.url : @pokemon.url_shiny %>'
  })
  </script>
</div>
