<div class="full-screen <%= @dresser.pokemons[1].types[0] %>">
  <div class='container-dresser-show'>
    <h1><%= @dresser.name.capitalize %></h1>
    <p style='padding-inline: 100px;'><%= @dresser.description %></p>
    <img src='<%= @dresser.url %>', style='height: 500px; padding: 5vh;', id='img'>
  </div>
  <div id="dresser-pokemons">
    <% @pokemons.each do |pokemon| %>
        <%= link_to pokemon_path(pokemon), class: "pokemon-container #{pokemon.types[0]}" do %>
        <div>
          <p>No.<%= pokemon.numero_pokedex %></p>
          <h3><%= pokemon.name.capitalize %></h3>
          <% pokemon.types.each do |t| %>
            <span
              class='<%= t %>'
              style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))"
              >
              <%= t %>
            </span>
          <% end %>
        </div>
        <img src='<%= pokemon.url %>', class='img-pokemon'>
        <% end %>
    <% end %>
  </div>
</div>
